*.a
*.cache
*.la
*.lai
*.lo
*.log
*.o
*.plist
*.so
*.so.*
*.status
*.trs
*_test
*~
.*.sw?
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/generated
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/test-driver
/ylwrap
stamp-h1
